fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
pydantic[email]
python-jose[cryptography]
bcrypt
ultralytics
python-multipart
imagekitio
pytest
hypothesis
pytest-cov
httpx