fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
pydantic[email]
python-jose[cryptography]
bcrypt
ultralytics
python-multipart
imagekitio==3.0.0
pytest
hypothesis
pytest-cov
httpx
pillow
passlib
alembic
urllib3==1.26.15